{
  "extends": ["eslint:all", "plugin:react/recommended", "airbnb", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true,
      "spread": true,
      "experimentalObjectRestSpread": true,
      "restParams": true
    }
  },
  "globals": {
    "alert": true,
    "APP_SETTINGS": true,
    "console": true,
    "document": true,
    "fetch": true,
    "Promise": true,
    "window": true
  },
  "rules": {
    "arrow-body-style": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "no-console": 0,
    "no-continue": 0,
    "no-nested-ternary": 0,
    "react/forbid-prop-types": 0,

    "import/prefer-default-export": 1,
    "jsx-a11y/click-events-have-key-events": 1,
    "jsx-a11y/no-noninteractive-element-interactions": 1,
    "no-param-reassign": 1,
    "no-unreachable": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "prefer-promise-reject-errors": 1,
    "react/destructuring-assignment": 1
  }
}
